# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Backend
backend/build/
backend/.gradle/
backend/out/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# Logs
*.log

# Environment
.env